<h1>Add Your Travel Details</h1>
<form action="/places" method="post">
  <label for="cityName">City Name:  </label>
  <input id="cityName" name="cityName" type="text">
  <button type="submit">Submit</button>
</form>